:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --main-section-color: #2f303a;
  --second-section-color: #e5e5e5;
  --team-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --logo-color-second: #000000;
  --footer-color: rgba(255, 255, 255, 0.6);
  --main-buttom: #f5f4fa;
  --bottom-index-active: #188ce8;
}

body {
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}
.link-list {
  text-decoration: none;
}

.list-style {
  list-style: none;
}

/*Logo*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web {
  color: var(--accent-color);
}
.studio {
  color: var(--logo-color-second);
}
.studio-footer {
  color: var(--white-color);
}

/*Navigation*/

.site-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link-active {
  color: var(--accent-color);
  text-decoration: none;
}
.site-nav .link-list {
  color: var(--main-text-color);
}
.site-nav .link-list:hover,
.site-nav .link-list:focus,
.site-nav .link-list:active,
.auth-nav .link-list:hover,
.auth-nav .link:focus,
.auth-nav .link-list:active {
  color: var(--accent-color);
}

/*Auth-nav*/
.auth-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link-list {
  color: var(--secondary-text-color);
  font-style: normal;
}

/*Main section*/
.main-index {
  background-color: var(--main-section-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-index-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*Features*/
.features,
.work {
  background-color: (--second-section-color);
}

.features-list {
}

.features-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}
.features-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/*Work*/
.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work-list {
}

/*Team*/
.team {
  background-color: var(--team-background-color);
}
.team-list {
}
.team-list-name {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
}
.team-list-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

/*Footer*/
.footer {
  background-color: var(--main-section-color);
}
.address {
}

.address-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
}

.footer-nav {
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.footer-nav .link {
  color: var(--footer-color);
  font-style: normal;
  text-decoration: none;
}

/*PORTFOLIO*/

.buttons {
}

.button-index {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
}
.button-index:hover,
.button-index:focus {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--bottom-index-active);
}

.button-portfolio {
  cursor: pointer;
  color: var(--main-text-color);
  background-color: var(--main-buttom);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  text-decoration: none;
}

.portfolio-list-name {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
